<!DOCTYPE html>
<html>

<head>
  {% include "header.html" %}
  <!-- Custom -->
  <link rel="stylesheet" href="/static/custom_css/lari_css.css">

</head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    {% include "topbar.html" %}

    <!-- Sidebar -->
    {% include "admins/sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <div class="bg-padd">

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-10">
              <div class="card card-primary">
                <div class="card-header">
                  <h1 class="card-title">Add Mission</h1>
                </div>
                <form action="/project_add" method="post">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="inputName" style="color:#115E86">Project Name</label>
                      <input type="text" id="inputName" name="inputName" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="inputDescription" style="color:#C7310F">Project Description</label>
                      <textarea id="inputDescription" name="inputDescription" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="inputStatus" style="color:#22b189">Status</label>
                      <select id="inputStatus" name="inputStatus" class="form-control custom-select">
                        <option selected disabled>Select one</option>
                        <option>Starting Soon</option>
                        <option>In Progress</option>
                        <option>Completed</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="inputLanguages" style="color:#3A0487">Programming Languages</label>
                      <input type="text" id="inputLanguages" name="inputLanguages" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="inputEstimation" style="color:#3A0487">Project estimation</label>
                      <input type="text" id="inputEstimation" name="inputEstimation" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="inputGithub" style="color:#3A0487">GitHub Link</label>
                      <input type="text" id="inputGithub" name="inputGithub" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="inputCircuit" style="color:#8FD247">Circuit Link</label>
                      <input type="text" id="inputCircuit" name="inputCircuit" class="form-control">
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                    </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

          </div>

          <div class="col-12">

            <input type="submit" value="Save Changes" class="btn btn-success">
            <a href="/" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>

          </div>
          </form>
        </section>
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% include "footer.html" %}

    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark"> -->
    <!-- Control sidebar content goes here -->
    <!-- </aside> -->
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  {% include "core_js_includes.html" %}
</body>

</html>