<!DOCTYPE html>
<html>

<head>
    {% include "header.html" %}
</head>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        {% include "topbar.html" %}


        <!-- Main Sidebar Container -->
        <{% include "admins/sidebar.html" %} <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Projects</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active">Projects</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">

                    <!-- Default box -->
                    <div class="card">

                        <div class="card-body p-0">
                            <table class="table table-striped projects">
                                <thead>

                                    <tr>
                                        <th style="width: 1%">
                                            #
                                        </th>
                                        <th style="width: 20%">
                                            Project Name
                                        </th>
                                        <th style="width: 30%">
                                            Team Members
                                        </th>

                                        <th style="width: 8%" class="text-center">
                                            Status
                                        </th>
                                        <th style="width: 20%">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in projects %}
                                    <tr>
                                        <td>
                                            #
                                        </td>
                                        <td>
                                            <a>

                                                {{ project.project_name }}

                                            </a>
                                            <br />
                                            <small>
                                                Created {{ project.project_date }}
                                            </small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                {% for member in project.project_members %}
                                                <li class="list-inline-item">
                                                    <a href="/profile/{{ member }}">
                                                        <img style="width:40px; height:40px;" alt="Avatar"
                                                            class="table-avatar" src="/static/images/{{ member }}.jpg"
                                                            onerror="this.src='/static/images/default.jpg';">
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>

                                        <td class="project-state">
                                            <span class="badge badge-success">{{ project.project_status }}</span>
                                        </td>
                                        <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="/project_detail/{{ project.project_name }}">
                                                <i class="fas fa-folder">
                                                </i>
                                                View
                                            </a>
                                            <a class="btn btn-info btn-sm"
                                                href="/project_edit/{{ project.project_name }}">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </a>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->


            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/static/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/static/dist/js/demo.js"></script>
</body>

</html>