                    
          {% if project_search %}
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table style="position:absolute;" class=" table table-dark table-striped mb-0">
          <tbody>
          {% for project in project_search %}
            <tr ><td>
            <a class="search-project" href="/project_detail/{{project.project_name}}" style="color:white">
            {{ project.project_name }}</a>
            </td></tr>
          {% endfor %}
          </table>
          </div>
          </tbody>
          {% endif %}
          